input{
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

input:active{
    border: 1px solid cyan;
    box-sizing: border-box;
}

button{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.expense-form{
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}