.expense-details{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   position: relative;
   top: 0px;
   left: 0px;
   box-sizing: border-box;
}

.expense-title{
    width: calc(70%);
    text-shadow: 1px 2px 3px rgb(253, 96, 5);
    margin: 10px;
    box-shadow: 2px 2px 4px black;
    border-radius: 4px;
}

.expense-date{
    width: calc(10%);
    text-shadow: 1px 2px 3px rgb(253, 96, 5);
    margin: 10px;
}

.expense-price{
    width: calc(20%);
    text-shadow: 1px 2px 3px rgb(253, 96, 5);
    margin: 10px;
}
p{
    margin: 5px;
    color: black;
}